huggingface_hub
python-dotenv
requests
youtube-search-python
httpx==0.27.2

#Langchain core
langchain==0.3.14
langchain-core==0.3.29

#openAI integration
langchain-openai
openai

#anthropic Integration
langchain-anthropic

#google Gemini (PaLM) Integration
langchain-google-genai==2.0.8
google-generativeai

#huggingface integration
langchain-huggingface
transformers
huggingface-hub

#environment variable management
python-dotenv

#ml utilities
numpy
scikit-learn
pydantic==2.10.4